/* StartPage.css */

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ECECEC;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}

.brand-image {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.subtitle {
    font-size: 16px;
    color: #666;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ECECEC;
}

.input-name {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    transition: background-color 0.5s, border-color 0.5s, box-shadow 0.3s; /* เปลี่ยนแค่สีพื้นหลังและสีของขอบ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* เงาให้กับกล่องใส่ข้อความ */
}

/* เอฟเฟกต์เมื่อโฟกัสและโฮเวอร์ */
.input-name:focus,
.input-name:hover {
    background-color: #f0f8ff; /* เปลี่ยนสีพื้นหลังเมื่อโฟกัสหรือโฮเวอร์ */
    border-color: #000; /* เปลี่ยนสีของขอบเมื่อโฟกัสหรือโฮเวอร์ */
    outline: none; /* ลบเอาท์ไลน์ที่มาตรฐาน */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* เพิ่มเงาเมื่อโฟกัสหรือโฮเวอร์ */
}

.order_button {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #ddd; /* สีเทาอ่อน */
    border: 1px solid #000; /* ขอบสีดำสำหรับปุ่ม */
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    transition: background-color 0.3s, transform 0.5s, box-shadow 0.3s; /* เพิ่มการเปลี่ยนแปลงของเงา */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เงาเริ่มต้นของปุ่ม */
}

.order_button:hover {
    background-color: #bbb; /* สีเทาเข้มขึ้นเมื่อโฮเวอร์ */
    transform: scale(1.05); /* ขยายปุ่มขึ้น 5% เมื่อโฮเวอร์ */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* เงาเมื่อโฮเวอร์ */
}

.order-image {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

.order-button span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.footer {
    margin-top: auto;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 100%;
    background-color: #ECECEC;
}
